body {
    background-color: #000000;
    color: #aaa;
    display: flex;
    flex-direction: column;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    justify-content: center;
    margin: 0 auto 0 auto;
}

#logo {
    height: 90%;
}

.button:hover, .button:focus {
    outline: none;
    color: #fff;
}

.form-control {
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 42px;
    -webkit-appearance: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.form-control:focus {
    border-color: #1a7bbc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button {
    border: none;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

#templateHeader {
    width: 100%;
    height: 10%;
    color: black;
    border-bottom: 2px solid black;
    background: rgb(208,228,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 33%, rgba(10,119,213,1) 100%, rgba(83,159,225,1) 100%, rgba(135,188,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(33%,rgba(115,177,231,1)), color-stop(100%,rgba(10,119,213,1)), color-stop(100%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 33%,rgba(10,119,213,1) 100%,rgba(83,159,225,1) 100%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 33%,rgba(10,119,213,1) 100%,rgba(83,159,225,1) 100%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 33%,rgba(10,119,213,1) 100%,rgba(83,159,225,1) 100%,rgba(135,188,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 33%,rgba(10,119,213,1) 100%,rgba(83,159,225,1) 100%,rgba(135,188,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */

}

.headerRight {
    float: right;
}

#headerInfo {
    display: inline;
}

#headerInfo span {
    margin-botom: 10px;
}

#pathText {
    font-size: 3em;
    font-family: Georgia, serif;
}

#profilePicture img {
    max-height: 80%;
    max-width: 300px;
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-left: 20px;
}

#templateContent {
    width: 100%;
    height: 85%;
    color: black;

    background: rgb(208,228,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 33%, rgba(10,119,213,1) 100%, rgba(83,159,225,1) 100%, rgba(135,188,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(33%,rgba(115,177,231,1)), color-stop(100%,rgba(10,119,213,1)), color-stop(100%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 33%,rgba(10,119,213,1) 100%,rgba(83,159,225,1) 100%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 33%,rgba(10,119,213,1) 100%,rgba(83,159,225,1) 100%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 33%,rgba(10,119,213,1) 100%,rgba(83,159,225,1) 100%,rgba(135,188,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 33%,rgba(10,119,213,1) 100%,rgba(83,159,225,1) 100%,rgba(135,188,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}

#templateFooter {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    border-top: 3px solid white;
}

.block {
    display: block;

    border: 2px solid black;
    border-radius: 5px;
    background-color: #005695;

    margin: 10px;
    overflow-y: visible;

    overflow-x: hidden;
}

.blockTitle {
    display: inline-block;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #b9d5f0;;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 30px;
    color: black; 
}

.blockItem {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #b9d5f0;
    margin: 10px;
    padding-left: 10px;
}

.blockItemTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2em;
}

#dashboardNotifications {
    width: 45%;
    float: left;
}

#dashboardFaculties {
    width: 45%;
    float: left;
}

#dashboardProjects {
    width: 50%;
    float: right;
}

#projectSummary, #facultySummary {
    display: block;
    width: 97%;
    background-color: #005695;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 10px 0px 10px;
}

#projectTitle {
    display: block;
    width: 97%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    background-color: #b9d5f0;
}

#projectSummary hr, #facultySummary hr {
    display: block;
    clear: both;
    visibility: hidden;
    background-color: #b9d5f0;
}

#projectFaculty, #projectRole {
    float: left;
    margin-left: 2em;
}

#projectRole, #facultyRole{
    clear: both;
    float: left;
}

#projectSpace, #facultySpace {
    clear: both;
    float: left;
    margin-left: 2em;
}

#projectCreationDate, #projectUpdateDate, #facultyCreationDate {
    float: right;
    margin-right: 2em;
}

#projectContent {
    display: block;
    background-color: #b9d5f0;
    border: 1px solid black;
    margin: 10px 10px 0px 10px;

}

#projectRequestSpace {
    clear: both
    display: block;
    padding: 5px;
    margin-right: 2em;
    margin-top: 1em;
    float: right;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}

#projectMembers {
    width: 45%;
    float: left;
}

#projectHistory {
    width: 50%;
    float: left;
}

#facultyRequestProject {
    clear: both
    display: block;
    padding: 5px;
    margin-right: 2em;
    margin-top: 1em;
    float: right;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}

#searchBox {
    border: 1px solid black;
    width: 80%;
    padding: 1em;
    margin: 1em;
    float: left;
}

#searchBox input {
    width: 80%;
}

#resultCountBox {
    border: 1px solid black;
    background-color: white;
    float: left;
    width: 10%;
    padding: 1em;
    margin-top: 1em;
    font-size: 1.1em;
}

#projectListBlock, #facultyListBlock{
    clear: both;
    margin: 1em;
    border: 1px solid black;
    background-color: #005695;
}

#projectListBlockItem, #facultyListBlockItem {
    border: 1px solid black;
    background-color: #b9d5f0;
    margin: 1em;
    padding: 0.5em;
}

#projectListBlockItem div, #facultyListBlockItem div{
    float: left;
    width: 30%;
}

#projectListBlockItem span, #facultyListBlockItem span {
    clear: both;
    float: left;
    width: 100%;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2em;
}

#projectListBlockItem hr, #facultyListBlockItem hr {
    display: block;
    clear: both;
    visibility: hidden;
}

#loginMasthead, #loginFooter {
    position: absolute;
    text-align: center;
    width: 100%;
}

#loginMasthead {
    border-bottom: 2px solid;
    top: 0;
}

#loginFooter {
    border-top: 2px solid;
    bottom: 0;
}

#loginBox {
    width: 30%;
    margin: 0 auto 0 auto;
}

#loginBox h1, #loginBox h2 {
}

#loginBox .remember {
    display: block;
}

#loginBox .remember input {
    margin-right: 1em;
}

#loginBox input {
    margin: 0.4em 0 0.4em 0;
}

#loginBox input[type=text], #loginBox input[type=password] {
    display: block;
    width: 100%;
}

#loginBox input[type=submit] {
    float: left;
}

#loginExtras {
    float: right;
}

#loginExtras a {
    display: block;
}

.eyeBigCircle {
    z-index: 9000;
    position: absolute;
    border-radius: 50%;
    background: white;
}
.eyeOutlineCircle {
    z-index: 8999;
    position: absolute;
    border-radius: 50%;
    background: black;
}
.eyeInnerCircle {
    z-index: 9001;
    position: absolute;
    border-radius: 50%;
    background: black;
}
