
<div class="listEntry list-group-item bubble">
  <div class="row borderbottom">
    <div class="col-xs-1 history-icon">
      <span class="glyphicon glyphicon-{{ historyevent.glyphicon }}"></span>
    </div>
    <div class="listEntryTitle col-xs-11">
      <span><strong>{{ historyevent.kind }}</strong>:</span>
      <span><a href="/{{ historyevent.referenced_enum }}/{{ historyevent.referenced_id }}">{{ historyevent.label }}</a></span>
    </div>
  </div>
  <div class="row">
    <div class="listEntryDetail col-xs-7">
      {{ historyevent.note }}
    </div>
    <div class="listEntryDetail col-xs-5">
      <div class="row">
        <div class="listEntryDetail col-xs-12">
          {{ historyevent.occurence_time }}
        </div>
      </div>
      <div class="row">
        <div class="listEntryDetail col-xs-12">
          {{ historyevent.referenced_user_primary }}
        </div>
      </div>
    </div>
  </div>
</div>
