
{% if cardType == "list_entry_brief" %}
  <div class="listEntry list-group-item">
    <div class="row">
      <div class="listEntryTitle col-md-12">
        <a href="/project/{{ project.id }}">{{ project.title }}</a>
      </div>
    </div>
    <div class="row">
      <div class="listEntryDetail col-md-9 dashboard-project-faculty">
        {% include "cards/faculty.html" with faculty=project.faculty cardType="label" %}
      </div>
      <div class="listEntryDetail col-md-3 dashboard-project-role">
        {{ project.user_role }}
      </div>
    </div>
  </div>
{% endif %}

{% if cardType == "list_entry_detailed" %}
  <div class="listEntry list-group-item">
    <span class="listEntryTitleLabel">Title:</span>
    <span class="listEntryTitle">
      <a href="/project/{{ project.id }}">{{ project.title }}</a>
    </span>
    <br/>
    <span class="listEntryDetailLabel">Faculty:</span>
    <span class="listEntryDetail">
      {% include "cards/faculty.html" with faculty=project.faculty cardType="label" %}
    </span>
    
    <span class="listEntryDetailLabel">Space:</span>
    <span class="listEntryDetail">
      {{ project.storage_used_mb }} of {{ project.storage_capacity_mb }}
    </span>
    
    <span class="listEntryDetailLabel">Update Date:</span>
    <span class="listEntryDetail">
      {{ project.updateTime }}
    </span>
    <br/>
    
    <span class="listEntryDetailLabel">My Role:</span>
    <span class="listEntryDetail">
      {{ project_user_role }}
    </span>
    
    <span class="listEntryDetailLabel">Member Count:</span>
    <span class="listEntryDetail">
      {{ 999 }}
    </span>
      
    <span class="listEntryDetailLabel">Creation Date:</span>
    <span class="listEntryDetail">
      {{ 2048 }}
    </span>
  </div>
{% endif %}

{% if cardType == "label" %}
  <a href="/project/{{ project.id }}">{{ project }}</a>
{% endif %}

{% if cardType == "full" %}
  <div class="row">
    <div class="col-xs-2 project-info-title-label">
      Project Title:
    </div>
    <div class="col-md-10 project-info-title">
      {{ project.title }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 project-info-detail-label">
      Faculty:
    </div>
    <div class="col-md-5 project-info-detail">
      {% include "cards/faculty.html" with faculty=project.faculty cardType="label" %}
    </div>
    <div class="col-xs-2 project-info-detail-label">
      Creation Date:
    </div>
    <div class="col-md-3 project-info-detail">
      2048
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 project-info-detail-label">
      My Role:
    </div>
    <div class="col-md-5 project-info-detail">
      {{ project_user_role }}
    </div>
    <div class="col-xs-2 project-info-detail-label">
      Update Date:
    </div>
    <div class="col-md-3 project-info-detail">
      2048
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 project-info-detail-label">
      Storage Space:
    </div>
    <div class="col-md-6 project-info-detail">
      <div class="progress progress-striped active project-info-storage-progress">
        <div class="project-info-storage">
          {{ project.storage_used_mb }}MB of {{ project.storage_capacity_mb }}MB ({{ project_storage_used_percent }}%)
        </div>
        <div class="progress-bar progress-bar project-info-storage-bar" style="width: {{ project_storage_used_percent }}%"> 
        </div>
        <div class="progress-bar progress-bar-info project-info-storage-bar" style="width: {{ project_storage_free_percent }}%"></div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
          {% if project_user_role == "Data Manager" %}
            <a href="/project/{{ project.id }}/request"><div class="btn btn-default">Request Additional Space</div></a>
          {% endif %}
          <a href="/project/{{ project.id }}/edit"><div class="btn btn-default">Edit Project</div></a>
        </div>
    </div>
  </div>
{% endif %}


