{% extends "template.html" %}
{% load static %}
{% load 1989 %}
{% block path %}
Faculty List
{% endblock %}
{% block content %}
<div id="searchBox">
  <input type="text">
  <select>
    <option value="role" selected=true>My Role</option>
    <option value="update">Update Date</option>
    <option value="faculty">Faculty Name</option>
    <option value="storage">Storage Space</option>
    <option value="members">Member Count</option>
  </select>
</div>
<div id="resultCountBox">
  {{ count }} Results
</div>
{% partial "facultyBlock.html" faculties as faculties %}
{% endblock %}
