<html>
{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/common.css' %}">
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.autosize.min.js' %}"></script>
  <script src="{% static 'js/jquery.searchit.js' %}"></script>
  <script src="{% static 'js/chart.min.js' %}"></script><head>
  <script src="{% static 'js/bootstrap.min.js' %}"></script><head>
</head>

<body>
  <div class="edgebar header">
    <span class="crumb-root">Blackbox</span>
    {% block 'breadcrumb' %} {% endblock %}
    {% if user %}
      <div class="userbox">
        <div class="userbox-text">
          {{ user.first_name }} {{ user.last_name }} &#x2014; <a href="/logout">Logout</a><br/>
          <a href="/dashboard">Dashboard</a> &#x2014; <a href="/account">Account</a>
        </div>
        <img class="userbox-avatar" src="{% static 'user.gif' %}"/>
      </div>
    {% endif %}
  </div>
  <div class="container-fluid content-row">
    {% block 'body' %}
    {% endblock %}
  </div>
  <div class="edgebar footer">
    <div class="footer-content">Copyright 2014 &#x2014; Team Privileged</span>
  </div>
</body>

</html>
