{% extends "common.html" %}
{% load humanize %}
{% load tz %}

{% block 'breadcrumb' %}
  <span class="crumb-sep">&gt;</span>
  <span class="crumb-part">Dashboard</span>
{% endblock %}

{% block 'body' %}
  <div class="col-md-5 content-col dashboard-left-column">
    <div class="dashboard-div">
      <h1>Notifications</h1>
      <div class="well list-well">
        <div id="notification-box" class="listBox">
          {% if historyevents|length == 0 %}
            <div class="notification-absence-text">
              You have no unread notifications.
            </div>
          {% endif %}
          {% for historyevent in historyevents %}
            <div class="listEntry list-group-item">
              <div class="row">
                <div class="listEntryTitle col-md-6">
                  {{ historyevent.kind }}
                </div>
                <div class="listEntryDetail col-md-6">
                  {{ historyevent.occurence_time|localtime }}
                </div>
              </div>
              <div class="row">
                <div class="listEntryDetail col-md-12">
                  {{ historyevent.note }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="dashboard-div">
      <h1>My Faculties</h1>
      <div class="well list-well">
        <div id="faculty-box" class="">
          {% for faculty in faculties %}
            <div class="list-group-item listEntry">
              <div class="listEntryTitle">
                <a href="/faculty/{{ faculty.id }}">{{ faculty.name }}</a>
              </div>
              <span class="listEntryDetail">
                {% for role in faculty.role_list %}
                  {% if role.count != 0 %}
                    <span>
                      {% if role.count > 0 %}
                        {{ role.name }}&nbsp;<span>({{ role.count }});</span>
                      {% else %}
                        {{ role.name }};
                      {% endif %}
                    </span>
                  {% endif %}
                {% endfor %}
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 content-col">
    <div class="dashboard-div">
      <h1>My Projects</h1>
      <div class="well list-well">
        <div id="project-box" class="">
          {% for project in projects %}
            <div class="listEntry list-group-item">
              <div class="row">
                <div class="listEntryTitle col-md-12">
                  <a href="/project/{{ project.id }}">{{ project.title }}</a>
                </div>
              </div>
              <div class="row">
                <div class="listEntryDetail col-md-9 dashboard-project-faculty">
                  {% include "cards/faculty.html" with faculty=project.faculty cardType="label" %}
                </div>
                <div class="listEntryDetail col-md-3 dashboard-project-role">
                  {{ project.user_role }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
