<html>
{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/docs.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/common.css' %}">
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script><head>
</head>

<body>
  <div class="container-fluid content-row">
    <div id="loginBox">
      <div class="loginBoxTopBit">
        <h2>Blackbox</h2>
        <h3>Research Data Storage</h3>
      </div>
      <form class="well loginBoxWell" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {%if form.non_field_errors %}
          <div class="loginBoxErrors alert alert-danger">
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        <fieldset>
          <legend>Login</legend>
          {{ form.username.errors }}
          {{ form.password.errors }}
          <input class="form-control" type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="{{ form.username.label }}" required>
          <input class="form-control" type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" required>
          <span class="remember loginBoxCheckbox"><input type="checkbox" name="rememberLogin">Remember for one week</span>
          <div class="btn-group">
            <input class="btn btn-default loginBoxButton" type="submit" value="Login">
          </div>
          <div id="loginExtras">
            <a href="/account/help">Request assistance</a>
            <a href="/account/create">Create account</a>
          </div>
        </fieldset>
        <div class="loginBoxFooter">Curtin University of Technology</span>
      </form>
    </div>
  </div>
</body>

</html>
