
Hello,

Please be notified of the following event:

<div style="border: 1px solid black;">
  <div>
    <span><strong>{{ kind }}</strong>:</span>
    <span><a href="/{{ referenced_enum }}/{{ referenced_id }}">{{ label }}</a></span>
  </div>
  <div>
    <span>(</span><i>by</i><span>{{ referenced_user_primary }}</span><span><i>on</i></span><span>{{ occurence_time }}</span><span>)</span>
  </div>
  <div>
    {{ note }}
  </div>
</div>

You can find out more information by visiting the following link:
<a href="http://teamprivileged.com/{{ referenced_enum }}/{{ referenced_id }}">
    http://teamprivileged.com/{{ referenced_enum }}/{{ referenced_id }}
</a>

Regards,
Blackbox.

~~~ CuRtIn UnIvErSiTy Of TeChNoLoGy ~~~
