{% extends "common.html" %}

{% block 'breadcrumb' %}
  <span class="crumb-sep">&gt;</span>
  <span class="crumb-part">Project {{ project.id }}</span>
{% endblock %}

{% block 'body' %}
  <div class="col-md-12">
    <div class="dashboard-div">
      <div class="well list-well">
        {% include "cards/project.html" with cardType="full" %}
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="dashboard-div">
      <h2><span class="glyphicon glyphicon-user dashboard-icon"></span>Members</h2>
      <div class="well list-well">
        <div id="faculty-box" class="listBox">
          {% for member_info in project_members %}
            <div class="listEntry list-group-item">
              <span class="listEntryTitle">
                <div>
                  <a href="/user/{{ member_info.user.id }}">{{ member_info.user.first_name }} {{ member_info.user.last_name }}</a>
                </div>
                <div>
                  {{ member_info.role }}
                </div>
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="dashboard-div">
      <h2><span class="glyphicon glyphicon-th-list dashboard-icon"></span>Request History</h2>
      <div class="well list-well">
        <div id="faculty-box" class="listBox">
          stuff
        </div>
      </div>
    </div>
  </div>
{% endblock %}

