{% extends "common.html" %}
{% load humanize %}

{% block 'breadcrumb' %}
  <span class="crumb-sep">&gt;</span>
  <span class="crumb-part"><a href="/faculty/{{ project_faculty_id }}">Faculty {{ project_faculty_id }}</a></span>
  <span class="crumb-sep">&gt;</span>
  <span class="crumb-part">Project {{ project_id }}</span>
{% endblock %}

{% block 'body' %}
  <form id="project-form" action="" method="post">{% csrf_token %}
    <div class="col-md-12">
      {% if project_form_commited %}
        <div class="panel panel-success">
          <div class="panel-heading">Your changes have been saved.</div>
        </div>
      {% endif %}
      {% if project_form_bad %}
        <div class="panel panel-danger">
          <div class="panel-heading">There was an error submitting your changes.</div>
          <ul class="list-group">
           {% if form.non_field_errors %}
             {% for error in form.non_field_errors %}
               <li class="list-group-item bubble">
                 <strong>&#x2014;</strong>: {{ error }}
               </li>
             {% endfor %}
           {% endif %}
           {% for field in form %}
             {% if field.errors %}
               {% for error in field.errors %}
                 <li class="list-group-item bubble">
                   <strong>{{ field.label }}</strong>: {{ error }}
                 </li>
               {% endfor %}
             {% endif %}
           {% endfor %}
           {% for error in membership_formset.non_field_errors %}
             <li class="list-group-item bubble">
               <strong>&#x2014;</strong>: {{ error }}
             </li>
           {% endfor %}
           {% for form in membership_formset %}
             {% for error in form.non_field_errors %}
               <li class="list-group-item bubble">
                 {{ error }}
               </li>
             {% endfor %}
             {% for field in form %}
               {% if field.errors %}
                  {% for error in field.errors %}
                    <li class="list-group-item bubble">
                      <strong>{{ field.label }}</strong>: {{ error }}
                    </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="dashboard-div">
        {{ form.id }}
        <div class="well list-well">
          <div class="row">
            <div class="col-xs-2 project-info-title-label">
              Project Title:
            </div>
            <div class="col-md-9 project-info-title">
              <div class="project-info-only">
                {{ project_title }}
              </div>
              <div class="project-edit-only project-edit-title">
                {{ form.title }}
              </div>
            </div>
            <div class="col-md-1 project-info-title"></div>
          </div>
          <div class="row">
            <div class="col-xs-2 project-info-detail-label">
              Faculty:
            </div>
            <div class="col-md-5 project-info-detail">
              <div class="project-info-only">
                <a href="/faculty/{{ project_faculty_id }}">{{ project_faculty_name }}</a>
              </div>
              <div class="project-edit-only project-edit-title">
                {{ form.faculty }}
              </div>
            </div>
            <div class="col-xs-2 project-info-detail-label">
              Creation Date:
            </div>
            <div class="col-md-3 project-info-detail">
              {{ project_creation_time }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2 project-info-detail-label">
              My Role:
            </div>
            <div class="col-md-5 project-info-detail">
              {{ project_user_role }}
            </div>
            <div class="col-xs-2 project-info-detail-label">
              Update Date:
            </div>
            <div class="col-md-3 project-info-detail">
              {{ project_update_time }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2 project-info-detail-label">
              Storage Space:
            </div>
            <div class="col-md-6 project-info-detail">
              <div class="progress progress-striped active project-info-storage-progress">
                <div class="project-info-storage">
                  {{ project_storage_used_mb|intcomma }}MB of {{ project_storage_capacity_mb|intcomma }}MB ({{ project_storage_used_percent }}%)
                </div>
                <div class="progress-bar progress-bar project-info-storage-bar" style="width: {{ project_storage_used_percent }}%"> 
                </div>
                <div class="progress-bar progress-bar-info project-info-storage-bar" style="width: {{ project_storage_free_percent }}%"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group">
                {% if can_request %}
                  <a class="btn btn-default project-info-only" href="/project/{{ project_id }}/request">Request Additional Space</a>
                {% endif %}
                {% if can_edit %}
                  <button id="edit-button" class="btn btn-default project-info-only" onClick="return false;">Edit Project</button>
                {% endif %}
                <button id="submit-button" class="btn btn-success project-edit-only" onClick="return false;">Submit</button>
                <button id="cancel-button" class="btn btn-warning project-edit-only" onClick="return false;">Cancel</button>
              </div>
              <div class="btn-group">
                {% if can_delete %}
                  <a href="/project/{{ project_id }}/delete" class="btn btn-danger project-edit-only">Delete</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="dashboard-div">
        <ul class="nav nav-tabs">
          <li class="info-tab-header active">
            <a href="#members" data-toggle="tab"><span class="glyphicon glyphicon-user dashboard-icon"></span>Members</a>
          </li>
          <li class="info-tab-header">
            <a href="#requests" data-toggle="tab"><span class="glyphicon glyphicon-tasks dashboard-icon"></span>Requests</a>
          </li>
        </ul>
        <div class="well list-well">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="members">
              <div id="faculty-box" class="listBox">
                {{ membership_formset.management_form }}
                {% for member_info in project_members %}
                  <div class="listEntry list-group-item bubble">
                    <span class="listEntryTitle">
                      <div>
                        <a href="/user/{{ member_info.id }}">{{ member_info.first_name }} {{ member_info.last_name }}</a>
                      </div>
                      <div class="project-edit-only">
                        {{ member_info.membership_form.id }}
                        {% if member_info.is_addition %}
                          {{ member_info.membership_form.member }}
                        {% else %}
                          {{ member_info.membership_form.member.as_hidden }}
                        {% endif %}
                        {{ member_info.membership_form.role }}
                      </div>
                      <div class="project-info-only">
                        {{ member_info.role }}
                      </div>
                    </span>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="requests">
              <div id="faculty-box" class="listBox">
                {% if project_spacerequests|length == 0 %}
                  <div class="notification-absence-text">
                    No space requests.
                  </div>
                {% endif %}
                {% for spacerequest in project_spacerequests %}
                  <div class="listEntry list-group-item bubble">
                    <span class="listEntryTitle">
                      <div class="row">
                        <div class="col-md-7">
                          <a href="/request/{{ spacerequest.id }}">
                            <span>Space increase:</span>
                            <span>+</span>
                            <span>{{ spacerequest.size_mb|intcomma }}</span>
                            <span>MB</span>
                          </a>
                        </div>
                        <div class="col-md-5 alignright">
                          {{ spacerequest.update_time|date:"y-m-d h:iA" }}
                        </div>
                        <div class="col-md-4">
                          {{ spacerequest.status }}
                        </div>
                        <div class="col-md-8 alignright">
                          {{ spacerequest.requested_by }}
                        </div>
                      </div>
                    </span>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-7">
    <div class="dashboard-div">
      <ul class="nav nav-tabs">
        <li class="active info-tab-header">
          <a href="#history" data-toggle="tab"><span class="glyphicon glyphicon-time dashboard-icon"></span>History</a>
        </li>
        <li class="info-tab-header">
          <a href="#comments" data-toggle="tab"><span class="glyphicon glyphicon-comment dashboard-icon"></span>Comments</a>
        </li>
      </ul>
      <div class="well list-well">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="history">
            {% if project_historyevents|length == 0 %}
              <div class="notification-absence-text">
                There is no history.
              </div>
            {% endif %}
            {% for historyevent in project_historyevents %}
              {% include "cards/historyentry.html" %}
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="comments">
            {% include "cards/comments.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
        function showEdit() {
            $(".project-info-only").hide();
            $(".project-edit-only").show();
        }
        function hideEdit() {
            $(".project-info-only").show();
            $(".project-edit-only").hide();
        }
        
        $("#edit-button").click(function(){ showEdit(); })
        $("#cancel-button").click(function(){ hideEdit(); })
        $("#submit-button").click(function(){
            $("#project-form").submit();
        });
        
        $('#id_title').autosize({append: ""});
        $(".project-edit-only").hide();
        $('#id_title').keypress(function(event) {
            if(event.which == '13') {
                return false;
            }
            $('#id_title').autosize({append: ""});
        });
        
        $(".member-select").searchit({size: 15, dropDownClass: 'member-select-wrap'});
        
        {% if edit_mode %}
          showEdit();
        {% endif %}
    });
  </script>
{% endblock %}

