<html>
  <head>
    <title>Privileged Research Storage</title>
    <link rel="stylesheet" type="text/css" href="../static/default.css">
  </head>
  <body>
    <div id="templateHeader">
      <span id="pathText">Blackbox ></span>
      <span id="profilePicture" class="headerRight"><img src="../static/user.gif"></span>
      <div id="headerInfo" class="headerRight">
        <span id="username">Cornelius Chase</span>
        -
        <span id="logoutButton">Logout</span>
        <br>
        <span>Dashboard account</span>
      </div>
    </div>

    <div id="templateContent">Test</div>

    <div id="templateFooter">Test</div>
  </body>
</html>
