<html>
  {% load staticfiles %}
  <head>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
  </head>
<body bgcolor=black>
<center>
<img src="{% static "logo.png" %}" height=90% alt="logo"/>

</center>

<a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54_grey.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>


</body>
</html>
